<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
  </startup>
  <appSettings>
    <add key="WebMapServerURL" value="http://emax.vicp.cc:8100//Web/index.html" />
    <add key="WebMapServerURL2" value="http://emax.vicp.cc:8100/Web/subMap.html" />
    <add key="WebMapFileURL" value="http://emax.vicp.cc:8100/Web/ImgData" />
    <add key="MDSServerURL" value="http://emax.vicp.cc:8100/MDSService/SI" />
    <add key="WebServerURL" value="http://emax.vicp.cc:8100/" />
    <add key="VideoServerIP" value="emax.vicp.cc" /><!--223.87.191.7-->
    <add key="UserId" value="zpy" />
    <add key="Pwd" value="000000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="City" value="福州" />
    <add key="ListenCOM" value="true" />
    <add key="OpenAlarmVideo" value="true" />
    <add key="CheckAlarmVideoTime" value="10000" />
    <add key="AutoLoadNodeStatus" value="true" />
    <add key="LoginTitle" value="英码-登录" />
    <add key="MainTitle" value="英码报警中心Map" />
    <add key="ImageFile" value="images" />
    <add key="ImageType" value="*.BMP|*.JPG|*.GIF|*.PNG" />
    <add key="OprUserId" value="test" />
    <add key="OprPwd" value="123456" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>